:root {
    --main-color: #02bced;
    --second-color: #1f2021;
    --third-color: #353235;
    --pragraph-color: #988f86;
    --icon-color: #fffefd;
    --padding: 60px;
    --transition-time: 0.3s;

}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body ::selection{
    background-color: var(--main-color);
    color: black;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.specail-heading {
    text-align: center;
}

.specail-heading h1 {
    /* text-align: center; */
    margin-top: var(--padding);
    color: var(--second-color);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 40px;
}

.specail-heading p {
    margin-top: 40px;
    text-align: center;
    max-width: 550px;
    margin: 40px auto var(--padding);
    line-height: 2;
    color: var(--pragraph-color);


}

.specail-heading .icon {

    height: 2px;
    display: flex;
    justify-content: center;
    position: relative;
}

.specail-heading .icon div:first-of-type {
    background-color: var(--second-color);
    width: 100px;
}

.specail-heading .icon div:last-of-type {
    background-color: var(--icon-color);
    border: solid 2px var(--second-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: -7.1px;
}

html {
    scroll-behavior: smooth;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;

    }
}

.home {
    background-image: url(../images/owl.jpg);
    height: 100vh;
    background-size: cover;
}

.home .cover {
    background-color: rgba(0, 0, 0, 0.582);
    height: 100vh;
}

.home .cover .container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 20px 0px;
    border-bottom: var(--icon-color) solid 1px;
}

.home .cover .container header ul {
    list-style: none;
    display: flex;
}

.home .cover .container header ul a {
    color: var(--icon-color);
    padding-right: 10px;
    padding-left: 10px;
    transition-duration: var(--transition-time);
    padding-bottom: 40px;
}

.home .cover .container header ul a:hover,
.home .cover .container header ul :first-child a {
    color: var(--main-color);
    border-bottom: var(--main-color) solid 1px;
}

.home .cover .container header .sections {
    display: flex;
}

.home .cover .container header .sections i {
    font-weight: bold;
    color: var(--icon-color);
    font-size: 20px;
}

.home .cover .container header .sections i:last-of-type {
    padding-left: 15px;
    border-left: var(--icon-color) solid 2px;
    margin-left: 15px;
}

.home .cover .container header .logo img {
    width: 180px;
    color: #fefbfc;
}

.home .cover .out-container {
    height: calc(100vh - 150px);
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;


}

.home .cover .out-container .text-box {
    max-width: 50%;
    color: var(--icon-color);
    background-color: #02baed6e;
    padding: 30px;
    line-height: 1.5;
    max-height: 100%;
    font-size: 17px;

}

.home .cover .out-container .text-box h1 {
    font-weight: 400;
}


@media (min-width:992px) {
    .home .cover .out-container .text-box {
        padding-left: 5%;
    }
}

@media (min-width:1285.7px) {
    .home .cover .out-container .text-box {
        padding-left: 12%;
    }
}


@media (max-width:767px) {
    .home .cover .out-container .text-box {
        max-width: 100%;
        padding: 50px;

    }

    .home .end,
    .start {
        display: none;
    }

}

.home .cover .out-container .circles span {
    border-radius: 50%;
    background-color: transparent;
    border: var(--icon-color) 1px solid;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 10px;

}

.home .cover .out-container .circles :nth-child(2) {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.home .cover .out-container .circles {
    display: flex;
    align-self: center;
    margin-bottom: 10px;
    position: absolute;
    bottom: -30px;

}

.home .end,
.start {
    position: absolute;
    top: 37%;
    color: var(--icon-color);
    font-weight: 900;
    font-family: cursive;
    font-size: 40px;
}

.home .start {
    left: 0.8%;
}

.home .end {
    position: absolute;
    right: 0.8%;
}

@media (max-width:767px) {
    .home .container header .sections ul {
        display: none;
    }

}

@media (min-width:768px) {
    .home .container header .sections i:first-of-type {
        display: none;
    }
}

@media (max-width:767px) {
    .home .container {
        position: relative;
    }

    .home .container header .sections ul {
        z-index: 1;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;

    }

    .home .container header .sections:hover ul {
        display: block;
    }

    .home .container header .sections ul::before {
        content: "";
        right: 55px;
        top: -40px;
        border-color: transparent transparent #1f2021ae transparent;
        border-style: solid;
        border-width: 20px;
        position: absolute;
    }

    .home .container header .sections ul a:hover {
        padding-left: 40px;
    }

    .home .container header .sections ul li {
        text-decoration: none;
        border: none;
    }

    .home .container header .sections ul li a {

        display: block;
        background-color: #1f2021ae;
        color: var(--icon-color);
        right: 0;
        padding: 20px;
        transition-duration: var(--transition-time);
    }

    .home .cover .container header ul :first-child a,
    .home .container header .sections ul li a:hover {
        border: none;

    }

}

.services .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: var(--padding);
}

.services .grid .item {
    display: flex;
    gap: 40px;
}

.services .grid .item i {
    font-size: 50px;
    color: var(--second-color);
}

.services .grid .item h3 {
    color: var(--main-color);
    padding-top: calc(var(--padding)/2);
    padding-bottom: calc(var(--padding)/2);
}

.services .grid .item p {
    color: var(--pragraph-color);
    line-height: 1.8;
}

.services .grid .item h3 {
    padding-top: 0;
}


@media (max-width:600px) {
    .services .grid .item {
        display: flex;
        flex-flow: column;
        text-align: center;

    }

}

.services .photo {
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    height: 90vh;
    margin: 120px 0px;

}

.services .photo .cons {
    display: flex;
    flex-direction: column;
    gap: 25px;


}

.services .photo .cons .item {
    display: flex;
    gap: 30px;

}

.services .photo .cons .item i {
    color: var(--icon-color);
    font-size: 20px;

}

.services .photo .cons .item h3 {
    font-size: 20px;
    color: var(--icon-color);
    font-weight: 400;

}

.services .photo .cons h1 {
    color: var(--icon-color);
    font-weight: 500;
    padding-bottom: 10px;
    font-size: 25px;
    text-transform: uppercase;

}

.services .photo .out-container {
    display: flex;
    justify-content: space-between;

    align-items: center;
    height: 90vh;

}

.services .cover .icon-cover {

    background-color: #02baed66;
    padding: 20px 0px 50px 50px;
    /* padding-right:13% ; */
    width: 1100px;


}

.services .cover img {
    display: flex;
    align-self: flex-end;
}

.services .cover .container {
    height: 90vh;
    display: flex;
    justify-content: center;
}

@media (max-width:767px) {
    .services .cover img {
        display: none;
    }

    .services .cover .container {
        display: none;
    }

    .services .photo .out-container {
        display: flex;
        justify-content: center;
        align-content: center;
    }

}

.services .photo .cover {
    background-color: rgba(0, 0, 0, 0.582);
    height: 90vh;
}

.portfolio .container .sections {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.portfolio .container .sections h3 {
    color: var(--third-color);
    font-weight: 500;
    padding: 10px;
    font-size: 15px;
}

.portfolio .container .sections h3:first-of-type {
    background-color: var(--main-color);
    color: var(--icon-color);

}


.portfolio .images img {
    max-width: 100%;
    transition-duration: .5s;

}

.portfolio .images {
    display: flex;
    flex-flow: wrap;
}

@media (min-width:768px) {
    .portfolio .images .box {
        flex-basis: 50%;
    }
}

@media (min-width:992px) {
    .portfolio .images .box {
        flex-basis: calc(100%/3);
    }
}

@media (min-width:1200px) {
    .portfolio .images .box {
        flex-basis: 25%;
    }
}

.portfolio .images .box {
    overflow: hidden;
    position: relative;

}

.portfolio .images .box:hover img {
    transform: rotate(3deg) scale(1.1);
    -webkit-transform: rotate(3deg) scale(1.1);
    -moz-transform: rotate(3deg) scale(1.1);
    -ms-transform: rotate(3deg) scale(1.1);
    -o-transform: rotate(3deg) scale(1.1);
}

.portfolio .images .box .caption {
    position: absolute;
    background-color: white;
    bottom: -100%;
    left: 0;
    width: 100%;
    transition-duration: .5s;

}

.portfolio .images .box .caption h3 {
    color: var(--third-color);

    font-weight: 400;
    margin: 20px;
}

.portfolio .images .box .caption p {
    color: var(--main-color);

    font-weight: 400;
    margin: 20px;
}

.portfolio .images .box:hover .caption {
    bottom: 0;
}

.portfolio .more h3 {
    margin: 30px auto 100px;
    width: fit-content;
    color: var(--icon-color);
    background-color: var(--main-color);
    font-weight: 400;
    padding: 12px 15px;
    font-size: 18px;
    text-transform: uppercase;
}

.portfolio .clip {
    position: relative;
    margin-bottom: 100px;
}

.portfolio video {
    max-width: 100%;
}

.portfolio .clip .cover {
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.444);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

}

.portfolio .clip .cover .box {
    background-color: #02baed66;

    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

}

.portfolio .clip .cover .box .text-box {
    height: 100%;
    display: flex;
    flex-flow: column;
    gap: 30px;
    align-items: center;
    color: var(--icon-color);

}

.portfolio .clip .cover .box .text-box h3 {

    background-color: black;
    font-weight: 200;
    padding: 10px 15px;
    font-size: 18px;
    text-transform: uppercase;
}

.portfolio .clip .cover .box .text-box h2 {
    font-weight: 400;
    text-transform: uppercase;
    max-width: 70%;
    text-align: center;

}

.portfolio .clip .cover .box .text-box h4 {
    font-weight: 400;

}


.about .about-photos .rate {
    width: 100%;
    background-image: url(../images/stats.png);
    background-size: cover;
    position: relative;
    top: -115px;

}

.about .about-photos .rate .container {

    padding: 100px 0px;
}


.about .about-photos .ipad {
    max-width: 90%;
    z-index: -1;

}

.about .about-photos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .about-photos .rate .container .about-box {
    background-color: #02baed6b;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 10px;
    justify-content: space-evenly;


}

.about .about-box .about-item {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    padding-bottom: 20px;

}

@media (max-width: 767px) {
    .about .about-photos .rate .container .about-box .about-item {
        flex-basis: 100%;
    }
}

@media (min-width: 768px) {
    .about .about-photos .rate .container .about-box .about-item {
        flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    .about .about-photos .rate .container .about-box .about-item {
        flex-basis: 25%;
    }
}

.about .about-photos .rate .container .about-box .about-item i {
    font-size: 30px;
    color: var(--icon-color);
    background-color: black;
    padding: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.about .about-photos .rate .container .about-box .about-item h1 {
    color: var(--icon-color);
    font-weight: bold;
}

.about .about-photos .rate .container .about-box .about-item h3 {
    color: var(--icon-color);
    font-size: 15px;

}

.about .container .test .specail-heading h1,
.about .container .skills .specail-heading h1 {

    font-size: 21px;
    margin-top: 0;

}

.about .container .test .specail-heading,
.about .container .skills .specail-heading {
    margin-top: 0px;
}

.about .container .test .specail-heading p {
    margin-bottom: 0;
}

.about .your-skills .test .item img {
    width: 90px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.about .your-skills .test .item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 30px;

}

.about .your-skills .test .item .text-box {
    border-bottom: 1px solid var(--pragraph-color);
    padding-bottom: 10px;
    display: flex;
    gap: 20px;
    flex-flow: column;
}

.about .your-skills .test .item .text-box p {
    color: var(--second-color);
}

.about .your-skills .test .item .text-box div {
    display: flex;
    justify-content: flex-end;
    color: var(--pragraph-color);
}

@media (max-width:767px) {
    .about .your-skills .test .item {
        display: flex;
        flex-flow: column;
        margin-bottom: 20px;
        text-align: center;
    }
}

.about .your-skills .test .circles span {
    border-radius: 50%;
    background-color: transparent;
    border: var(--second-color) 1px solid;
    padding: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 10px;

}

.about .your-skills .test .circles :nth-child(2) {
    background-color: var(--main-color);
    border-color: var(--main-color);
}



.about .your-skills .test {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.about .your-skills .test .circles {
    display: flex;
    gap: 10px;
    margin-bottom: 60px;

}

.about .your-skills .skills .items .line {

    max-width: 100%;
    height: 25px;
    background-color: #dedadc;
    flex-basis: 50%;


}

.about .your-skills .skills .items .line .reach {
    height: 25px;
    background-color: var(--main-color);
}

.about .your-skills .skills :nth-child(2) .line .reach {
    max-width: 90%;
}

.about .your-skills .skills :nth-child(3) .line .reach {
    max-width: 85%;
}

.about .your-skills .skills :nth-child(4) .line .reach {
    max-width: 80%;
}

.about .your-skills .skills :nth-child(5) .line .reach {
    max-width: 90%;
}

.about .your-skills .skills {
    display: flex;
    flex-flow: column;
    gap: 30px;
}

.about .your-skills .skills .items h3 {
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 17px;
}

.about .container .skills .specail-heading p {
    margin-bottom: 25px;
}

.about .your-skills .skills .items {
    position: relative;

}

.about .your-skills .skills .items .rate {
    position: absolute;
    top: -20px;
    color: var(--icon-color);
    background-color: black;
    padding: 5px;
    /*width: 5%;
    */
    border-radius: 5px;
}

.about .your-skills .skills :nth-child(2) .rate {
    left: 86%;
}

.about .your-skills .skills :nth-child(3) .rate {
    left: 81%;
}

.about .your-skills .skills :nth-child(4) .rate {
    left: 76%;

}

.about .your-skills .skills :nth-child(5) .rate {
    left: 86%;
}

.about .your-skills .skills .items .rate::before {
    content: "";
    border-color: black transparent transparent transparent;
    border-width: 8px;
    border-style: solid;
    position: absolute;
    bottom: -15px;
    right: 12px;
    z-index: 1;
}

.about .photo {
    background-image: url(../images/quote.jpg);
    background-size: cover;
    height: 45vh;
    margin-top: 60px;
    margin-bottom: 100px;
}

.about .photo .cover {
    background-color: rgba(0, 0, 0, 0.659);
    height: 100%;
}

.about .photo .cover .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 100%;
    color: var(--icon-color);
    text-align: center;

}

.about .photo .cover .container p {
    line-height: 1.5;
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 25px;
}

.about .photo .cover .container h4 {
    font-weight: 400;
    font-size: 17px;
}

.about .your-skills .grid {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

@media (max-width:991px) {

    .about .your-skills .grid .part {
        flex-basis: 100%;
    }
}

@media (min-width:992px) {

    .about .your-skills .grid .part {
        flex-basis: 47%;
    }
}

.pricing .grid {
    display: flex;
    flex-wrap: wrap;

}

@media (max-width: 575px) {
    .pricing .grid .item {

        flex-basis: 100%;
    }
}

@media (min-width: 576px) {
    .pricing .grid .item {

        flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    .pricing .grid .item {

        flex-basis: 25%;
    }
}

.pricing .grid .item {
    display: flex;
    flex-direction: column;
    text-align: center;

    padding: 20px;

}

.pricing .grid .item .price {
    border-top: 1px var(--main-color) solid;
    border-bottom: 1px var(--main-color) solid;
    padding: 40px 20px;

}

.pricing .grid .item .price h1 {
    margin: 0;
    font-size: 60px;
    position: relative;


}

.pricing .grid .item .price h3 {
    padding-bottom: 30px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;

}

.pricing .grid .item .price h1 span {

    font-size: 20px;
}

.pricing .grid .item .price h1 ::before {
    content: "$";
    position: absolute;
    top: -7px;
    left: calc(50% - 85px);
    font-weight: 400;
    font-size: 25px;
}

.pricing .grid .item .feature h4 {
    padding: 20px;
    border-bottom: 1px solid var(--main-color);
    width: fit-content;
    margin: auto;
    font-weight: 400;
}

.pricing .grid .item .feature h4:last-of-type {
    border: 0;
}

.pricing .grid .item .feature {
    border-bottom: 1px solid var(--main-color);
}

.pricing .grid .item .buy button {
    margin: 30px;
    padding: 20px;
    background-color: transparent;
    border: var(--main-color) solid 1px;
}

.pricing .container .contact-us {
    text-align: center;
}

.pricing .container .contact-us p {
    margin: 20px 0px;
    font-size: 20px;

}

.pricing .container .contact-us button {
    padding: 15px 30px;
    margin-bottom: 120px;
    color: var(--icon-color);
    background-color: var(--main-color);
    border: none;
}

.pricing .photo {
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    height: 40vh;
    margin-bottom: 100px;
}

.pricing .photo .cover {
    background-color: rgba(0, 0, 0, 0.605);
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
}

.pricing .photo .cover .container {
    color: var(--icon-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 70%;

}

.pricing .photo .cover .container form {

    border: 1px solid var(--icon-color);

    height: 60px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    max-width: 80%;
    position: relative;

}

.pricing .photo .cover .container form input[type="submit"] {
    text-transform: uppercase;
    padding: 20px 15px;
    border: none;
    color: var(--icon-color);
    background-color: var(--main-color);
    outline: none;
}

.pricing .photo .cover .container form input[type="email"] {
    background-color: transparent;
    border: none;
    margin-left: 15px;
    width: 80px;
    caret-color: var(--main-color);
    outline: none;
}

.pricing .photo .cover .container form input[type="email"]::placeholder {
    color: var(--icon-color);
}

.pricing .photo .cover .container form i {
    font-size: 25px;
    position: relative;
    top: 4px;

}

@media (max-width: 991px) {
    .pricing .photo .cover .container .item {

        flex-basis: 100%;
        text-align: center;
        margin: 0;
    }
}

@media (min-width: 992px) {
    .pricing .photo .cover .container form {

        flex-basis: 40%;

    }

    .pricing .photo .cover .container p {

        flex-basis: 58%;

    }
}

.pricing .photo .cover .container p {
    line-height: 1.5;
}
.contact .grid{
    display: flex;
    flex-flow: wrap;
    gap: 50px;
}
.contact .grid form{
    flex-basis: 70%;
}
.contact .grid .text{
    flex-basis: calc(30%-50px);

}
.contact .grid form .name, .mail {
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
    outline: none;
    padding: 20px;
border: #8d8e8f 1px solid;
caret-color: var(--main-color);

}
.contact .grid form textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
padding: 20px;
border: #8d8e8f 1px solid;
outline: none;
caret-color: var(--main-color);

}
.contact .grid form input[type="submit"]{
    background-color: var(--main-color);
    outline: none;
border: none;
padding:10px 20px;
color: var(--icon-color);
position: relative;
left:calc(100% - 150px) ;
width: 150px;

}
.contact .grid .text .part{
margin-bottom: 60px;
}
.contact .grid .text .part i{
    padding: 10px 0px;
    color: var(--pragraph-color);
    font-weight:400;
    font-size: 15px;
    width: 100%;
    display: block;
    
}
.contact .grid .text .part h2{
margin-bottom: 20px;
    width: 100%;
    font-weight:400;
    font-size: 20px;
    text-transform:uppercase ;

}
@media (max-width: 767px) {
    .contact .grid .item {

        flex-basis: 100%;
        text-align: center;

    }
    .contact .grid .text {
        display: flex;
        order: -1;
        flex-flow: column;
    }
    .contact .grid .text .part{
        margin-bottom: 20px;
        }
.contact .grid form input[type="submit"]{
    position: relative;
left: 0%;
}
}

.contact .photo {
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    height: 50vh;
    margin-top: 50px;

}

.contact .photo .cover {
    background-color: rgba(0, 0, 0, 0.605);
    height: 100%;
}

.contact .photo .cover .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--icon-color);
    height: 100%;
text-align: center;
}
.contact .photo .cover .container img {
    width: 130px;
}

.contact .photo .cover .container h1 {
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: var(--icon-color) solid 1px;
    font-weight: 500;

}
.contact .photo .cover .container i {
    color: var(--icon-color);
    margin: 0 20px;
}
.contact .photo .cover .container p span {
    color: var(--main-color);
}


.contact .photo .cover .container p{
    font-weight: 800;

}
